
                    <div class="col-md-6 left" id="contact_left">
                        <img class="img-responsive img-rabbit" src="__PUBLIC__/Home/assetsForDev/images/contact.jpg">
                    </div>

                    <div class="col-md-6 right" id="contact_right">
                        <a href="#index" class="btn btn-rabbit back"> <i class="fa fa-angle-left" aria-hidden="true"></i> 返回 </a>
                        <div id="watermark">
                            <h2 class="page-title" text-center>发布游戏</h2>
                            <div class="marker">发</div>
                        </div>
                       
                        <!-- form -->
                        <form class="form_edit" action="" method="post" enctype="multipart/form-data"> 
                            <input type="hidden" name="developer_id" value="{$_SESSION['developer_id']}" />
                       
                            <div class="form-group">
                                <input name="game_name" type="text" class="form-control" id="exampleInputName" placeholder="游戏名称">
                            </div>
                            
                            <div class="form-group">
                                <select class="test" style="width:40%;height:25px;border-style:none;color:#767676;" id="gameclass" name="gameclass">  
                                    <option> 请选择游戏分类</option>
                                    <volist name="cell" id="vo">
                                        <option value="{$vo['class_id']}">{$vo['class_name']}</option>                        
                                    </volist>
                                </select>
                            </div>
                            
                            <div class="form-group">
                                                                游戏截图：
                                <input name="game_pic" type="file" id="">
                            </div>
                            
                            <div class="form-group">
                                                                游戏安装包：
                                <input name="game_package" type="file" id="">
                            </div>
                         
                            <div class="form-group">
                            <textarea name="game_des" class="form-control" rows="5" placeholder="游戏简介"></textarea>
                            </div>
                            <button type="submit" class="btn btn-rabbit submit">发布</button>
                        </form>
                    </div>
            

        