<div class="sidebar-wrap">
        <div class="sidebar-title">
            <h1>菜单</h1>
        </div>
        <div class="sidebar-content">
            <ul class="sidebar-list">
                <li>
                <a href="__MODULE__/Index/index"><i class="icon-font">&#xe011;</i>返回首页</a>
                </li>
                <li>
                    <a href="#"><i class="icon-font">&#xe018;</i>系统管理</a>
                    <ul class="sub-menu">
                        <li><a href="__MODULE__/Player/lst"><i class="icon-font">&#xe003;</i>普通用户管理</a></li>
                        <li><a href="__MODULE__/Dev/lst"><i class="icon-font">&#xe014;</i>开发者管理</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="icon-font">&#xe009;</i>内容管理</a>
                    <ul class="sub-menu">
                        <li><a href="__MODULE__/Game/lst"><i class="icon-font">&#xe007;</i>游戏管理</a></li>                    
                        
                        
                        <li><a href="__MODULE__/Comment/lst"><i class="icon-font">&#xe002;</i>评论管理</a></li>
                        <li><a href="__MODULE__/Class/lst"><i class="icon-font">&#xe006;</i>分类管理</a></li>
                        
                    </ul>
                </li>
                
            </ul>
        </div>
    </div>