<!-- Desktop Header -->
<!-- 导航啦开始 -->
    <header>
        <div class="header">
            <div class="logo">
                <div class="title">

                </div>

            </div>
            <nav class="navbar" role="navigation">
                <ul class="nav">
                    <li><a class="active" href="__MODULE__/index">主页</a></li>
                    <li><a href="__MODULE__/Index/rank">排行榜</a></li>
                    <li><a href="__MODULE__/Index/classview">分类查看</a></li>  
                    <li><a href="__MODULE__/Index/search">搜索</a></li>            
                </ul>
            </nav>
        </div>
    </header>

    <div class="anchor-bar">
        <ul>
            <li><a href="__MODULE__/Login/register">注册</a></li>
            <li><a href="__MODULE__/Login/login">登录</a></li>
            <li><a href="__MODULE__/Login/logout">注销</a></li>
            <li><a href="__MODULE__/Player/user">玩家中心</a></li>
            <li><a href="{:U('Admin/Login/login')}">管理员入口</a></li> 
            <li><a href="__MODULE__/Dev/developer">开发者入口</a></li>           
        </ul>
    </div>



<!-- 导航栏结束 -->